*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Area */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
}
.logo {
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(360deg, #3feb0b, #ff1e00, #01ff2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 300px;
    height: 70px;
    border-radius: 5px;
}
header nav li {
    margin: 0 25px;
}
ul {
    display: flex;
}
ul li {
    list-style-type: none;
  
}
ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Header Responsive */
@media(max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}
@media(max-width: 700px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li{
        padding: 2px;
    }
    nav ul li a{
       font-size: 16;
    }
}
@media(max-width: 700px) {
    header {
        flex-direction: column;
    }
    .logo {
        margin-bottom: 10px;
        width: 220px;
        height: 50px;
        text-align: center;
    }
    header nav li {
        margin: 0 7px;
    }
}

/* Banner Area */
.banner-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 150px;
}
.banner {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: #fff;
}
.banner {
    background-image: url(image/Shajidul__Ashfak.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}
.banner:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .8;

}
.banner-area h1 {
    margin: 80px 0;
    font-size: 65px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: #faae22;
}
.banner-area h6 {
    font-size: 25px;
    text-transform: uppercase;
    color: #faae22;
}

/* Banner Responsive */
@media(max-width: 1000px) {
    .banner-area {
        padding: 150px 75px;
    }
}

@media(max-width: 600px) {
    .banner-area {
        padding: 165px 40px;
    }
    .banner-area h1 {
        font-size: 25px;
    }
    .banner-area h6 {
        font-size: 15px;
    }
}

@media(max-width: 800px) {
    .banner-area {
        min-height: 600px;
    }
}


/* About Area */
.about-area {
    background-image: url(background/background-ima.png);
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-area h3 {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 72px;
    background: -webkit-linear-gradient(#0b86eb, gold, #3b1919);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-text p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 20px 20px 20px 0;
    color: dimgray;
}
.about-text h1 {
    color: #00ffff;
    font-weight: bold;
    margin-bottom: 40px;
}
.about-text h2 {
    color: orchid;
    margin-bottom: 20px;
}
.name-style {
    font-family: “Open Sans”, sans-serif;
    color: #78058f;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
    font-size: 50px;
}

.about-section {
    display: flex;
    align-items: center;
}
.about-text {
  padding: 0 10px 0 30px;
}
.about-img img{
    width: 600px;
    height: 500px;
}

/* About Responsive */
@media(max-width: 900px) {
    .about-section {
        flex-direction: column;
    }
}
@media(max-width: 500px) {
    .about-img img{
        width: 450px;
        height: 350px;
    }
    .about-area h3 {
        font-size: 50px;
        padding: 20px;
    }
}

/* Service Area */
.service {
    background-image: url(background/service-bg.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.service h3 {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 72px;
    background: -webkit-linear-gradient(#0b86eb, gold, #3b1919);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-img {
    width: 200px;
    height: 200px;
    margin: 25px auto;
}
.service-head {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    background: -webkit-linear-gradient(360deg, #06619C, #03BF98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Service Responsive */
@media(max-width:500px) {
    .service h3 {
        font-size: 60px;
        padding: 20px;
    }
}


/* Hire Area */
.hire-area {
    width: 100%;
    height: 100%; 
}
.hire {
    height: 300px;
    background-image: url(image/Shajidul_-Ahafak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-btn {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 20px 80px;
    background: -webkit-linear-gradient(360deg, #06619C, #ff03b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #00ffff, #d53a9d);
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
}


/* Gallery Area */
.gallery-area h3 {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 72px;
    background: -webkit-linear-gradient(#0b86eb, gold, #3b1919);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gallery img {
    width: 100%;
    height: 100%;
}
.gallery {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 170px;
    grid-auto-flow: dense;
    justify-content: center;
}
.horizontal {
    grid-column: span 2;
}
.vertical {
    grid-row: span 2;
}
.big {
    grid-column: span 2;
    grid-row: span 2;
}


/* Contact Area */
.contact {
    width: 100%;
    height: 850px;
}
.contact h3 {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 72px;
    background: -webkit-linear-gradient(#0b86eb, gold, #3b1919);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Contact Form */
#title-Tag-Line {
    font-size: 20px;
  }
  
  /* form animation starts */
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #0e3721;
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    color: white;
    background-color: rgba(226, 101, 43, 0.3);
  }
  .name:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    padding: 30px;
    transition: ease 0.5s;
  }
  
  .email {
    height: 2em;
    background-color: rgba(226, 43, 211, 0.3);
  }
  
  .email:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    padding: 30px;
    transition: ease 0.5s;
  }
  
  .message {
    
    overflow: hidden;
    height: 10rem;
    background-color: rgba(138, 43, 226, 0.300);
  }
  
  .message:hover {
    border-bottom: 5px solid #0e3721;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #0e3721;
    font-size: 20px;
    border-radius: 2px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
   @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  }
  

  /* Footer Area */
  footer {
      width: 100%;
      height: 100%;
      background-color: #000;
  }
  .footer-logo {
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(360deg, #3feb0b, #ff1e00, #01ff2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 300px;
    height: 70px;
    border-radius: 5px;
}
  .footer-area {
      padding: 20px;
      color: #fff;
  }
  .footer-head {
      color: green;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      background: -webkit-linear-gradient(360deg, #eb0be0, rgb(0, 255, 170), #f3ef03);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .footer-list {
      padding: 30px;
  }
  .footer-list a{
    padding: 35px 50px;
    text-decoration: none;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
i {
    font-size: 25px;
    padding: 5px;
    margin-right: 35px;
    color: #fff;
}

.master-card img {
    border-radius: 5px;
}
.copyright {
    text-align: center;
    font-size: 13px;
    padding: 10px;
}
.copyright a {
    text-decoration: none;
    color: red;
}